.title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: black;
}

.explanation {
    font-size: 1rem;
}


.validity{
    font-size: 0.8rem;
}

.success{
    color: green;
}

.error{
    color: red;
}